
.wish-page{
    display: flex;
    background-color: #f1f3f6;
}
.profile-details{
    display: flex;
    flex-direction: column;
    width: 32%;
    margin: 20px;

        padding: 20px;
    border: 1px solid #dadada;
    background-color: #fff;

}
.wish-head{
    display: flex;
    justify-content: space-between;
}
.wishlist-container{
    display: flex;
    margin: 20px;

    flex-direction: column;
    width: 70%;
    padding: 20px;
    border: 1px solid #dadada;
    background-color: #fff;
}
.card-wrap-wish{
    display: flex;
}
.image-con-wish{
    width: 100px;
    height: 100px;
}
.card-content-wish{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.delete-con{
    margin: 40px;
}

