.sidebar-container {
    flex: 0 0 280px;
    max-width: 280px;
    padding: 0px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 16.66%;
}

.filter-container {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
}

.selected-container {
    padding: 16px 16px 12px;
    border-bottom: 1px solid #f0f0f0;
}

.selected-heading-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* line-height: 25px; */
}

.selected-heading {
    font-size: 18px;
    letter-spacing: .3px;
    font-weight: 500;
    text-transform: capitalize;
    width: 67%;

    display: flex;
    justify-content: flex-start;
}

.clear-container {
    cursor: pointer;
    color: #2874f0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;

}

.selected-items {
    position: relative;
    max-height: 104px;
    overflow: hidden;
}

.selected-items-wrap {
    margin: 8px 0 0 -4px;
    display: flex;
    flex-wrap: wrap;
}

.selected-each-container {

    cursor: pointer;
    font-size: 12px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 100%, .5);
    border-radius: 3px;
    margin: 2px 4px 7px;
    overflow: hidden;
    transition: background-color .1s;
    max-width: 200px;
    padding: 8px;
    display: inline-block;


}

.cross {
    display: inline-block;
}

.cat-name {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
    margin-left: 8px;
    max-width: 90%;
}

.show-more {
    display: flex;
    position: absolute;
    background: #fff;
    top: 82px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    font-size: 12px;
    font-weight: 500;
    color: #2874f0;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 9px;
}

/* ------------------------------------------------------------------------- */

.categories-container {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;

}

.cat-head {

    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 5px;
}

.audio-con {
    padding: 5px 0;
    color: rgb(33, 33, 33);
    white-space: nowrap;
}

.audio-con svg {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    fill: #878787;
}

.audio-con a {
    color: #878787;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;

}

.headset-con svg {
    fill: #212121 !important;
    transform: rotate(270deg);
}

.headset-con a {

    color: #212121;
}

.earphones {
    padding: 5px 16px 5px 30px;
    color: #212121;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 200px;

}

/* ---------------------------------------------------------------- */
.price-filter-con {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

.price-heading-wrap {
    line-height: 1.4;
}

.selected-heading-small {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;

}

.grey-price-back {
    height: 25px;
}

.grey-price {
    background: #e0e0e0;
    height: 100%;
    position: relative;
    bottom: -6px;
}

.slidebar {
    position: relative;
    height: 13px;
    cursor: pointer;
}

.slidebar input {
    width: 100%;
}

.slidebar {
    position: relative;
    width: 100%;
transform: translateY(-2px);
}

.slidebar input[type="range"] {
    /* -webkit-appearance: none; */
    width: 101%;
    height: 6px;
    background: #2874f0;
    border-radius: 5px;
}

/* movable right thumb */
.slidebar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #fff !important;
    border: 1px solid #bababa;
    /* position: absolute; */
    cursor: pointer;
    top: 3.5px;
    right: 0;
    
    /* margin-top: -5px; */
}

/* fake left thumb */
.slidebar::before {
    content: "";
    position: absolute;
    top: 3.5px;
    left: 0;
    border: 1px solid #bababa;

    /* transform: translateY(-50%); */
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
}

.slider-below {
    margin-top: -12px;
    display: flex;
    white-space: nowrap;
}


.slider-dot {
    width: 26.3136px;
    color: #c2c2c2;
    font-size: 20px;
    display: inline-block;
    text-align: left;
}

.last-dot {
    width: 0;
}

.min-max-con {
    color: #a3a3a3;
    font-size: 14px;
    margin: 5px -4px 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.min-con {
    flex-grow: 2;
    display: inline-block;
}

.min-max-con select {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    appearance: none;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwbDUgNSA1LTUiIGZpbGw9IiMyMTIxMjEiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat 90% 50%;
    height: 24px;
    font-size: 14px;
    color: #212121;
    line-height: 1;
    padding: 0 5px;
    outline: none;

}

.to-con {
    display: inline-block;
    margin: 0 9px;
    font-size: 14px;
    flex: 1;
    text-align: center;
    color: #878787;
    line-height: 1;
}

.max-con {
    display: inline-block;
    flex-grow: 2;
    margin-left: 1.5px;
}

/* ------------------------------------------------------------ */

.assured-con {
    display: flex;
    padding: 16px;
}

.assured-label {
    position: relative;
    width: 100%;
    display: block;

}

.assured-label input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.check-div {
    position: relative;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1.4px solid #c2c2c2;
    border-radius: 1.5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.assured-icon-con {
    padding-left: 11px;
    vertical-align: middle;
    font-size: 14px;
    color: #212121;
    width: calc(100% - 14px -11px);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    cursor: pointer;
}

.assured-icon {
    vertical-align: bottom;
}

.assured-icon img {
    display: block;
}

.question-con {
    display: inline-block;
    position: relative;
}

.question {

    border-radius: 50%;
    background-color: #fff;
    color: #878787;
    font-weight: 500;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
    vertical-align: middle;
    margin: 0 2px 0 8px;
    cursor: pointer;

}

/* --------------------------------------------------------------------- */

.headphone-head {
    cursor: pointer;
    margin: -16px;
    padding: 16px;
    /* line-height: 12.4px; */



}

.headphone-head svg {
    transform: rotate(90deg);
    display: inline-block;
    cursor: pointer;
    width: 6px;
    height: 11px;
    fill: #878787;
}




.type-selection-con {
    margin: 7px 0;
}

.clear-all-con {
    vertical-align: bottom;
    cursor: pointer;
    padding: 7px 0;
}

.clear-cross {
    display: inline-block;
    height: 14px;
    width: 14px;
    background-color: #f0f0f0;
    padding: 1px 0;
    font-size: 10px;
    text-align: center;
    color: #878787;
    vertical-align: middle;

}

.clear-all {
    display: inline-block;
    font-size: 14px;
    color: #878787;
    margin-left: 11px;
}

/* ------------------------------------------------------------------ */

.checkboxes-div {
    margin: 7px 0;
}

.search-brand-con {
    margin-bottom: 7px;
}

.search-brand-con svg {
    fill: #878787;
    width: 12px;
    height: 20px;
    position: absolute;

}

.search-brand-con input {
    width: 100%;
    border-width: 0 0 2px;
    border-color: #e0e0e0;
    height: 20px;
    font-size: 14px;
    padding: 0 0 0 21px;
    color: #878787;
    outline: none;

}

.more-brand-con {
    font-size: 12px;
    font-weight: 500;
    color: #2874f0;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 9px;
}

/* -------------------------------------------------------------- */


.need-help-container {
    text-align: center;
    padding-top: 30px;
    display: block;
    cursor: pointer;
}

.help-con {
    color: #2874f0;
    line-height: 1;
    font-size: 18px;
    margin: 5px 0 20px;
}

.help-con svg {
    transform: rotate(180deg);
    width: 6px;
    height: 12px;
    margin-left: 4px;
    fill: #2874f0;
}