.checkbox-con {
    padding: 3px 0;
}

.checkbox-label {
    padding: 3px 0;
    cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
}

.checkbox-label input {
   opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    z-index: 2;
}

.custom-checkbox {
    background: transparent;
    border: 1.4px solid #c2c2c2;
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 1.5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-label input:checked + .custom-checkbox {
  background: #2874f0;
  border: #2874f0;
}

.checkbox-label input:checked + .custom-checkbox::before {
  display: block;
  position: absolute;
  content: "";
  left: 5px;
  top: 3px;
  width: 2px;
  height: 6px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  backface-visibility: hidden;
}

.checkbox-text{
    vertical-align: middle;
    font-size: 14px;
    padding-left: 11px;
    color: #212121;
    display: inline-block;
    width: calc(100% - 11px - 11px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    cursor: pointer;
}