@media screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: column;

    }

    .header-wrap-m {
        display: block !important;
    }

    body {
        font-family:
            'r-regular', Arial, sans-serif;
        font-size: 12px;
        height: 100%;

    }

}